/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~ COMMON DEFINITIONS ~~~~~~~~~~~~ */
@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@400;600;700&display=swap');

/* CSS Reset & Base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Smooth Scroll */
html {
    scroll-behavior: smooth;
}

body {
    font-family: "Share Tech Mono", monospace;
    background-color: #EAF3FF;
    /* helles Blau als Hintergrund */
    color: #333333;
    /* Primär-Textfarbe anthrazit */
    line-height: 1.5;
    font-size: 16px;
}

/* Colors */
:root {
    --blue-light: #EAF3FF;
    --blue-bg: #DDEEFF;
    --blue-mid: #A3BBF7;
    --blue-dark: #3057D5;
    --blue-primary: #3366FF;
    --blue-secondary: #2C4FB3;
    --blue-darker-1: #2542A3;
    --blue-darker-2: #1B2D73;

    --text-primary: #333333;
    --text-secondary: #555555;
    --text-muted: #777777;

    --white: #FFFFFF;
}

/* Header Styles */
header {
    background-color: var(--blue-light);
    padding: 20px 0;
    text-align: center;
}

header img {
    height: 60px;
}

/* Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--blue-dark);
    margin-bottom: 20px;
}

h1 {
    font-size: 2.5rem;
}

p {
    font-size: 1.2rem;
    color: var(--text-secondary);
    max-width: 800px;
    margin: 20px auto;
    text-align: center;
}

.under-construction {
    position: fixed;
    color: red;
    left: 20px;
    top: 20px;
    font-size: 4rem;
    z-index: 9999;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~ LOGO AND ROTATING TEXT ~~~~~~~~ */
.logo-wrapper {
    position: fixed;
    top: calc(-15%);
    left: 50%;
    transform: translateX(-50%);
    width: 250px;
    height: 250px;
    transition: top 0.3s ease;
}

.logo-wrapper.top {
    top: calc(-3%);
}

.logo-wrapper-spotlight {
    width: 0px;
    height: 0px;
    color: var(--blue-mid);
    box-shadow: 0 0 120px 120px var(--blue-mid);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.logo-wrapper svg,
.logo-wrapper img {
    width: 100%;
    height: 100%;
    display: block;
    margin: auto;
}

.rotating-text {
    position: absolute;
    top: 0;
    left: 0;
    animation: rotate 30s linear infinite;
}

.static-logo {
    position: absolute;
    top: 27.5%;
    left: 27.5%;
    width: 45%;
    height: 45%;
}

@keyframes rotate {
    from {
        transform: rotate(360deg);
    }

    to {
        transform: rotate(0deg);
    }
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~ NAVBAR ~~~~~~~~~~~~~~~~~~~~~~~~ */
.bottom-nav-positioner {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    display: flex;
    justify-content: center;
    background: transparent;
    z-index: 9000;
}

.bottom-nav {
    display: flex;
    flex-wrap: nowrap;
    background: transparent;
}

.nav-box {
    padding: 12px 22px;
    border-radius: 0px;
    font-family: Consolas, monospace;
    background-color: var(--blue-mid);
    color: var(--text-primary);
    border: none;
    cursor: pointer;
    font-weight: 600;
    text-align: center;
    user-select: none;
    border: 2px solid var(--blue-mid);
    transition: background-color 0.5s, color 0.5s;
    white-space: nowrap;
    text-decoration: none;
    color: inherit;
}

.nav-box.active {
    background-color: var(--blue-darker-2);
    color: var(--blue-mid);
    font-weight: 800;
}

.nav-box.top {
    background-color: var(--text-primary);
    color: var(--blue-mid);
    font-weight: 800;
}

.nav-box:not(.active):hover {
    background-color: var(--blue-mid-light);
}

.bottom-nav-shadow-left,
.bottom-nav-shadow-right {
    position: fixed;
    top: auto;
    bottom: 9px;
    height: 54px;
    width: 30px;
    pointer-events: none;
    z-index: 9999;
    opacity: 0;
}

.bottom-nav-shadow-left {
    left: 0;
    background: linear-gradient(to left, transparent, rgba(21, 21, 21, 0.6));
}

.bottom-nav-shadow-right {
    right: 0;
    background: linear-gradient(to right, transparent, rgba(21, 21, 21, 0.6));
}


@media (max-width: 768px) {
    .bottom-nav-positioner {
        position: fixed;
        left: 0;
        right: 0;
        bottom: 10px;
        margin: 0 auto;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        transform: none;
        justify-content: flex-start;
    }

    .bottom-nav-shadow-right,
    .bottom-nav-shadow-left {
        opacity: 1;
    }

    .bottom-nav {
        display: flex;
        position: relative;
        flex-wrap: nowrap;
        min-width: max-content;
        z-index: 1;
    }

    .bottom-nav::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 50px;
        pointer-events: none;
        background: linear-gradient(to left, transparent, rgba(0, 0, 0, 0.4));
        z-index: 10;
    }

    .nav-box {
        flex: 0 0 auto;
        white-space: nowrap;
    }
}

.fixed-section {
    position: relative;
    width: 100%;
    height: 100vh;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~ TOP ~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.top-site-wrapper {
    position: fixed;
    width: 100%;
    height: 100vh;
}

.scroll-space-top-aboutme {
    height: 5000px;
}

.top-container {
    justify-content: flex-start;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
}

.top-text-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 10%;
    max-width: 40%;
}

.top-text {
    width: 100%;
    font-size: 2rem;
    line-height: 1.2;
    font-weight: 400;
    white-space: normal;
}

.top-text.static {
    color: var(--blue-primary);
    margin-bottom: 20px;
}

.top-text.dynamic {
    font-weight: 600;
    color: var(--blue-darker-1);
}

.top-text.large {
    min-height: 6lh;
    max-width: 50%;
}

.top-image {
    position: relative;
    top: -30%;
    width: 35%;
    height: auto;
    max-height: 60%;
    margin: 0 top;
    opacity: 1 !important;
}

.top-image img {
    position: absolute;
    max-width: 75%;
    object-fit: contain;
    opacity: 0;
}

.top-image img.shown {
    opacity: 1;
}

.top-image img.profile {
  -webkit-mask-image: linear-gradient(to bottom, black 0%, black 98%, transparent 100%),
                      linear-gradient(to top, black 0%, black 98%, transparent 100%),
                      linear-gradient(to right, black 0%, black 98%, transparent 100%),
                      linear-gradient(to left, black 0%, black 98%, transparent 100%);
  -webkit-mask-composite: destination-in;
  mask-image: linear-gradient(to bottom, black 0%, black 98%, transparent 100%),
              linear-gradient(to top, black 0%, black 98%, transparent 100%),
              linear-gradient(to right, black 0%, black 98%, transparent 100%),
              linear-gradient(to left, black 0%, black 98%, transparent 100%);
  mask-composite: intersect;
}

.top-image img.faded {
    mask-image: radial-gradient(closest-side, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0) 100%);
    -webkit-mask-image: radial-gradient(closest-side, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0) 100%);
}

@keyframes slideInFade {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    50% {
        transform: translateX(-50%);
        opacity: 0;
    }

    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes slideOutFade {
    0% {
        transform: translateX(0%);
        opacity: 1;
    }

    50% {
        transform: translateX(50%);
        opacity: 0;
    }

    100% {
        transform: translateX(100%);
        opacity: 0;
    }
}

.top-image img.slide-in {
    animation: slideInFade 1s ease forwards;
}

.top-image img.slide-out {
    animation: slideOutFade 1s ease forwards;
}