---
import PunchCard from '../PunchCard.astro';

type TT = 'div'|'section'|'para'|'lvl'|'name'|'kw'|'val'|'numval'|'dot'|'comment';
type Token = [TT, string];
type Line  = [string, Token[]];

const CARD1_LINES: Line[] = [
    ['000001', [['section','LOCAL-STORAGE SECTION'],['dot','.']]],
    ['000002', [['lvl','01'],['name',' ABOUT-ME'],['dot','.']]],
    ['000003', []],
    ['000004', [['lvl','    05'],['name',' WORK-NOW'],['dot','.']]],
    ['000005', [['lvl','        10'],['name',' COMPANY'],['kw',' PIC X(30)'],['kw',' VALUE'],['val'," 'RETROCODE'"],['dot','.']]],
    ['000006', [['lvl','        10'],['name',' ROLE   '],['kw',' PIC X(30)'],['kw',' VALUE'],['val'," 'COBOL DEVELOPER'"],['dot','.']]],
    ['000007', [['lvl','        10'],['name',' SECTOR '],['kw',' PIC X(25)'],['kw',' VALUE'],['val'," 'FINANCIAL SECTOR'"],['dot','.']]],
    ['000008', [['lvl','        10'],['name',' SINCE  '],['kw',' PIC 9(4) '],['kw',' VALUE'],['numval',' 2025'],['dot','.']]],
    ['000009', []],
    ['000010', [['lvl','    05'],['name',' WORK-BFRE'],['dot','.']]],
    ['000011', [['lvl','        10'],['name',' COMPANY'],['kw',' PIC X(30)'],['kw',' VALUE'],['val'," 'HILSCHER'"],['dot','.']]],
    ['000012', [['lvl','        10'],['name',' ROLE   '],['kw',' PIC X(30)'],['kw',' VALUE'],['val'," 'C DEVELOPER'"],['dot','.']]],
    ['000013', [['lvl','        10'],['name',' TECH   '],['kw',' PIC X(40)'],['kw',' VALUE'],['val'," 'OPC UA - INDUSTRIAL AUTOMATION'"],['dot','.']]],
    ['000014', []],
    ['000015', [['lvl','    05'],['name',' STUDIES'],['dot','.']]],
    ['000016', [['lvl','        10'],['name',' DEGREE '],['kw',' PIC X(5) '],['kw',' VALUE'],['val'," 'MSC'"],['dot','.']]],
    ['000017', [['lvl','        10'],['name',' FIELD  '],['kw',' PIC X(30)'],['kw',' VALUE'],['val'," 'ELECTRICAL ENGINEERING'"],['dot','.']]],
    ['000018', [['lvl','        10'],['name',' GRADE  '],['kw',' PIC X(20)'],['kw',' VALUE'],['val'," 'WITH DISTINCTION'"],['dot','.']]],
];

const CARD2_LINES: Line[] = [
    ['000001', [['section','LOCAL-STORAGE SECTION'],['dot','.']]],
    ['000002', [['lvl','01'],['name',' ABOUT-ME'],['dot','.']]],
    ['000003', []],
    ['000004', [['lvl','    05'],['name',' PRG-LANGUAGES'],['kw',' PIC X(10)'],['dot','.']]],
    ['000005', [['lvl','        88'],['name',' COBOL     '],['kw','  VALUE'],['val'," 'PRIMARY'"],['dot','.']]],
    ['000006', [['lvl','        88'],['name',' C         '],['kw','  VALUE'],['val'," 'PRIMARY'"],['dot','.']]],
    ['000007', [['lvl','        88'],['name',' CPP       '],['kw','  VALUE'],['val'," 'KNOWN'"],['dot','.']]],
    ['000008', [['lvl','        88'],['name',' PYTHON    '],['kw','  VALUE'],['val'," 'KNOWN'"],['dot','.']]],
    ['000009', [['lvl','        88'],['name',' SQL-DB2   '],['kw','  VALUE'],['val'," 'KNOWN'"],['dot','.']]],
    ['000010', [['lvl','        88'],['name',' JCL       '],['kw','  VALUE'],['val'," 'KNOWN'"],['dot','.']]],
    ['000011', [['lvl','        88'],['name',' SHELL     '],['kw','  VALUE'],['val'," 'KNOWN'"],['dot','.']]],
    ['000012', [['lvl','        88'],['name',' JAVASCRIPT'],['kw','  VALUE'],['val'," 'KNOWN'"],['dot','.']]],
    ['000013', [['lvl','        88'],['name',' OPC-UA    '],['kw','  VALUE'],['val'," 'KNOWN'"],['dot','.']]],
    ['000014', []],
    ['000015', [['lvl','    05'],['name',' VOC-LANGUAGES'],['kw',' PIC X(10)'],['dot','.']]],
    ['000016', [['lvl','        88'],['name',' GERMAN  '],['kw','  VALUE'],['val'," 'NATIVE'"],['dot','.']]],
    ['000017', [['lvl','        88'],['name',' ENGLISH '],['kw','  VALUE'],['val'," 'C2'"],['dot','.']]],
    ['000018', [['lvl','        88'],['name',' JAPANESE'],['kw','  VALUE'],['val'," 'BEGINNER'"],['dot','.']]],
];
---
<section id="aboutme">
    <div class="section-scroll-container" style="height: 176vh;">
        <div class="section-content-wrapper">
            <div class="pcf-stage-multi">
                <PunchCard
                    noStage={true}
                    programName="SSCHW-DEV"
                    programmerName="SEBASTIAN SCHWINN"
                    currentSystem="RETROCODE GMBH"
                    identificationHref="#impressum"
                    lines={CARD1_LINES}
                />
                <PunchCard
                    noStage={true}
                    programName="SSCHW-DEV"
                    programmerName="SEBASTIAN SCHWINN"
                    currentSystem="RETROCODE GMBH"
                    identificationHref="#impressum"
                    lines={CARD2_LINES}
                />
            </div>
        </div>
    </div>
</section>

<script>
export function statemachineAboutMeRun() {}
(window as any).__aboutMeRun = statemachineAboutMeRun;
</script>
