---
---
<div class="bottom-nav-shadow-right"></div>
<div class="bottom-nav-shadow-left"></div>
<div class="bottom-nav-positioner">
    <nav class="bottom-nav">
        <!-- Row 1: Division headers -->
        <a class="nav-division data-div" id="nav-div-data" href="#top">DATA DIVISION</a>
        <a class="nav-division proc-div" id="nav-div-proc" href="#links">PROCEDURE DIVISION</a>
        <!-- Row 2: Sections / paragraphs -->
        <a class="nav-box active" href="#top">WORKING-STORAGE.</a>
        <a class="nav-box" href="#aboutme">LOCAL-STORAGE.</a>
        <a class="nav-box" href="#work">LINKAGE SECTION.</a>
        <a class="nav-box" href="#links">SERVICES-PARAGRAPH.</a>
        <a class="nav-box" href="#impressum">IMPRESSUM-PARAGRAPH.</a>
    </nav>
</div>
