---
---
<div class="bottom-nav-shadow-right"></div>
<div class="bottom-nav-shadow-left"></div>
<div class="bottom-nav-positioner">
    <nav class="bottom-nav">
        <a class="nav-box active" href="#top">PROGRAM-ID.</a>
        <a class="nav-box" href="#aboutme">DATA DIVISION.</a>
        <a class="nav-box" href="#work">LINKAGE SECTION.</a>
        <a class="nav-box" href="#links">PROCEDURE DIVISION.</a>
        <a class="nav-box" href="#impressum">AUTHOR.</a>
    </nav>
</div>
