---
---
<div class="bottom-nav-shadow-right"></div>
<div class="bottom-nav-shadow-left"></div>
<div class="bottom-nav-positioner">
    <nav class="bottom-nav">
        <a class="nav-box active" href="#top">PROGRAM-ID.</a>
        <a class="nav-box" href="#aboutme">01 ABOUT-ME.</a>
        <a class="nav-box" href="#work">WORKING-STORAGE.</a>
        <a class="nav-box" href="#links">CALL 'SERVICES'</a>
        <a class="nav-box" href="#impressum">STOP RUN.</a>
    </nav>
</div>
